/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MTA Pipeline Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

process.container = "mta_pipe2"
docker.enabled = true

process {
  withName: 'BAYSOR*' {
    errorStrategy = { task.exitStatus in 137 ? 'retry' : 'terminate' }   // Having memory issues with baysor...this might help
    maxRetries    = 1
  }
}