/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MTA Pipeline Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

plugins {
  id 'nf-schema@2.4.1'
}

process.container = "mta_pipe2"
docker.enabled = true

params {
  input = null // Set to path to Xenium data dirctory
  outputdir = "results"
  id = "sampleID"

  // Workflow options
  runRanger = true // Run XeniumRanger re-segmentation
  runBaysor = true // Run Baysor segmentation
  preset_splits = false // Use preset splits for parallel processing (default: false)

  // RESEGMENT_10X
  expansion_distance = 5
  boundary_stain= "disable" // Possible options are: "ATP1A1/CD45/E-Cadherin" (default) or "disable".
  interior_stain= "disable" // Possible options are: "18S" (default) or "disable".
  dapi_filter = 100

  // CALC SPLITS 
  csplit_x_bins = 2 // number of tiles along the x axis (total number of bins is product of x_bins * y_bins)
  csplit_y_bins = 2 // number of tiles along the y axis

  // BAYSOR
  baysor_m = 1 // Minimal number of molecules for a cell to be considered as real
  baysor_prior = 0.8 // Confidence of the prior_segmentation results. Value in [0; 1]
  baysor_min_trans = 100 // Minimum number of transcripts in a baysor chunk to perform segmentation on

  // Resource Mgmt
  rangersegCPUs = 32
  rangersegMem = 128
  filterCPUs = 10
  filterMem = 100
  baysorCPUs = 8
  baysorMem = 100
  rangerimportCPUs = 32
  rangerimportMem = 128
}

process {
  withName: 'BAYSOR_PARALLEL:BAYSOR_RUN*' {
    errorStrategy = { task.exitStatus in 137 ? 'retry' : 'terminate' }   // Having memory issues with baysor...this might help
    maxRetries    = 1
    memory = { (params.baysorMem * task.attempt) + ' GB' }
    cpus = { params.baysorCPUs / task.attempt }
  }
}